<% layout('layouts/boilerplate') %>

<div class="container justify-content-center align-items-center mb-3">
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-5 offset-xl-3.5 col-xxl-4 offset-xxl-4">
      <div class="card shadow">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1633431305705-c2438b770dbc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form action="/register" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input class="form-control" type="text" name="username" id="username" placeholder="username" autofocus required />
              <div class="valid-feedback">
                  Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input class="form-control" type="email" name="email" id="email" placeholder="example@register.com" required />
              <div class="valid-feedback">
                  Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label for="password">Password</label>
              <input class="form-control" type="password" name="password" id="password" placeholder="password" required />
              <div class="valid-feedback">
                  Looks good!
              </div>
            </div>
            <div class="d-grid">
              <button class="btn btn-success">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
